body{
    font-family: 'Roboto', sans-serif;
}

h1 a{
    text-decoration: none;
    color: #901C1C;
}

.header_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.header_container h1{
    color: #901C1C;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
}

.filtres{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtres span{
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    padding: 0.2rem 0.4rem;
    color: #9c2e2e;
    margin: 0 0.1rem;
    cursor: pointer;
    font-weight: 600;
}

.individual-tags{
    cursor: pointer;
    background-color: white;
}

.individual-tags:hover {
    background-color: #901C1C;
    color: white;
}

.filtres span:hover{
    background-color: #901C1C;
    color: white;
}

.active{
    background-color: #901C1C !important;
    color: white !important;
}

.header_container h2{
    color: #901C1C;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
}

/*Photographes Container */

#photographes_container{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photographerContainer{
    width: 22rem;
    margin: 0.5rem;
    padding: 0.3rem;
}

.portrait{
    width: 11rem;
    height: 11rem;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 2px 17px 3px grey;
}

.portrait:hover{
    box-shadow: 0px 0px 30px 1px rgb(92, 90, 90);
    cursor: pointer;
}

.portrait img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.name, .city, .tags, .tagline, .price{
    text-align: center;
}

.name{
    color: #D3573C;
    margin-bottom: 0 !important;
    font-size: 1.5rem;
    margin-bottom: 0.7rem !important;
}

.price{
    color: #757575;
    margin: 0 !important;
}

.city{
    color: #901C1C;
    margin: 0.2rem!important;
}

.tagline{
    margin: 0 !important;
}

.tag{
    border: 1px solid #C4C4C4;
    border-radius: 20px; 
    padding: 0.2rem 0.4rem;
    color: #901C1C;
}

.photographerContainer a{
    text-decoration: none;
}


@media screen and (max-width: 950px){
    
    .header_container{
        justify-content: space-between;
    }
    .header_container h1{
        font-size: 2.5rem;
    }
    
    .header_container h2{
        order: 2;
        font-size: 1rem;
    }
    .filtres{
        order: 3;
        margin-bottom: 1.5rem;
        margin: auto;
        margin-bottom: 1.5rem;
    }
    .filtres span{
        margin: 0.1rem;
    }
}